<!DOCTYPE html>
<html>
<HEAD>
<TITLE>LOCATIONS</TITLE>
<SCRIPT SRC="HTTPS://AJAX.GOOGLEAPIS.COM/AJAX/LIBS/JQUERY/2.1.1/JQUERY.MIN.JS"></SCRIPT>

<SCRIPT>

var mongoUri = process.env.MONGOLAB_URI || process.env.MONGOHQ_URL ||
               'mongodb://localhost/whereintheworld';

var mongo = require('mongodb');

var db = mongo.Db.connect(mongoUri, function (error, databaseConnection) {

        db = databaseConnection;
});




App.set('view engine', 'jade');


</head>

<body>
<h1>Locations</h1>
<div id="locations"></div>
</body>
</html>
